<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-banner-xl.jpg"
          alt="Rustic Modern craftsman house"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Downright Crafty</h1>
            <h2>Craftsman</h2>
            <a
              href="/categories?&blnds[]=Downright+Crafty"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Modern Craftsman</h2>
      <P class="one-rem-text-desktop" >
        Do you want a home where you can tell its style from the first glance?
        Then the Craftsman style is one for you. It is a style that derived from
        the Arts & Crafts Movement. Instead of opting for a home that looks
        mass-produced, this style allows for a handcrafted and unique look. It
        celebrates the idea of using local, natural materials and clean lines to
        create custom finishes that even the “common man” could afford. This
        style represents the working man or woman. The functionality of this
        home doubles as a sense of charm.
        Some of the aesthetics that bring this home together include low-pitched
        rooflines, usually in a triangular style, a covered front porch, pillars
        lining the entry, and double hanging windows.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Craftsman style house"
        src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-inset-1.jpg"
        data-holder-rendered="true"
        />
      </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Crafted</h2>
      <p>
        This Craftsman style living room is the perfect mixture of textures. The
        brick and wood mix together to create a crafted stone and woodwork look.
        However, you will notice that the interior of the Craftsman style house
        uses cased openings to define different spaces, giving each room a sense
        of purpose. For a look like this, check out the key elements below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <h2>Mantel</h2></a
      >
      <p>
        The heart of any Craftsman house is the fireplace. Typically, this will
        be centered on the wall with built-in bookcases or windows surrounding
        it. However, you’ll notice here they decided to have art placed around
        instead. It truly becomes the focal point in your home.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Craftsman Mantel"
          src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-inset-2.jpg"
          data-holder-rendered="true"
      /></a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <h2>Doors</h2></a
      >
      <p>
        Doors in this style tend to lean towards having glass in the upper third
        with a thick or ornate piece of trim immediately below it. Although the
        glass inserts are typically rectangular, the number of panes differs
        based on preference.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Craftsman Doors"
          src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-inset-3.jpg"
          data-holder-rendered="true"
      /></a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <h2>Moulding</h2></a
      >
      <p>
        Thick crown mouldings are a staple in the Craftsman design. The thick
        crown moulding and base moulding make the space feel custom and
        inviting. The dining room is typically dressed up with wainscoting
        details. This detail brings in wood elements to your space and can be
        fashioned in a unique way to fit your style and preference.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Downright+Crafty" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Craftsman crown mouldings"
          src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-inset-4.jpg"
          data-holder-rendered="true"
      /></a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Craftsman barn door"
        src="/images/support-landing-page/product-blends/craftsman/downrightcrafty-inset-5.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Craftsman home</h2>
      <p>
        The barn door is also a great addition to a craftsman home.It gives the
        added element of mixing textures with the metal barn door hardware and
        the wood from a door. In this image it is a Winslow door being hung with
        Barn Door Hardware Sets in Black.
      </p>
      <p>
        Also, note the Polyurethane beams. Typically these will be found in a
        craftsman home as an added crafting design.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
